USE [VentasDB]
GO
/****** Object:  UserDefinedTableType [dbo].[DetalleVentaType]    Script Date: 04/12/2025 14:07:29 ******/
CREATE TYPE [dbo].[DetalleVentaType] AS TABLE(
	[ProductoId] [int] NOT NULL,
	[Cantidad] [int] NOT NULL
)
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 04/12/2025 14:07:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](200) NOT NULL,
	[Email] [nvarchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ventas]    Script Date: 04/12/2025 14:07:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ventas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [datetime2](7) NOT NULL,
	[ClienteId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_TotalVendidoPorCliente]    Script Date: 04/12/2025 14:07:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_TotalVendidoPorCliente] AS
SELECT
    c.Id AS ClienteId,
    c.Nombre,
    c.Email,
    ISNULL(SUM(d.Cantidad * d.PrecioUnitario), 0) AS TotalVendido
FROM dbo.Clientes c
LEFT JOIN dbo.Ventas v ON v.ClienteId = c.Id
LEFT JOIN dbo.DetalleVenta d ON d.VentaId = v.Id
GROUP BY c.Id, c.Nombre, c.Email;
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 04/12/2025 14:07:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](200) NOT NULL,
	[Precio] [decimal](18, 2) NOT NULL,
	[Stock] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_ProductosMasVendidos]    Script Date: 04/12/2025 14:07:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_ProductosMasVendidos] AS
SELECT
    p.Id AS ProductoId,
    p.Nombre,
    ISNULL(SUM(d.Cantidad), 0) AS TotalCantidadVendida
FROM dbo.Productos p
LEFT JOIN dbo.DetalleVenta d ON d.ProductoId = p.Id
GROUP BY p.Id, p.Nombre;
GO
/****** Object:  View [dbo].[vw_StockActual]    Script Date: 04/12/2025 14:07:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_StockActual] AS
SELECT Id AS ProductoId, Nombre, Stock FROM dbo.Productos;
GO
/****** Object:  Table [dbo].[DetalleVentas]    Script Date: 04/12/2025 14:07:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleVentas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[VentaId] [int] NOT NULL,
	[ProductoId] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[PrecioUnitario] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Ventas] ADD  DEFAULT (sysutcdatetime()) FOR [Fecha]
GO
ALTER TABLE [dbo].[DetalleVentas]  WITH CHECK ADD  CONSTRAINT [FK_DetalleVenta_Productos] FOREIGN KEY([ProductoId])
REFERENCES [dbo].[Productos] ([Id])
GO
ALTER TABLE [dbo].[DetalleVentas] CHECK CONSTRAINT [FK_DetalleVenta_Productos]
GO
ALTER TABLE [dbo].[DetalleVentas]  WITH CHECK ADD  CONSTRAINT [FK_DetalleVenta_Ventas] FOREIGN KEY([VentaId])
REFERENCES [dbo].[Ventas] ([Id])
GO
ALTER TABLE [dbo].[DetalleVentas] CHECK CONSTRAINT [FK_DetalleVenta_Ventas]
GO
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD  CONSTRAINT [FK_Ventas_Clientes] FOREIGN KEY([ClienteId])
REFERENCES [dbo].[Clientes] ([Id])
GO
ALTER TABLE [dbo].[Ventas] CHECK CONSTRAINT [FK_Ventas_Clientes]
GO
ALTER TABLE [dbo].[DetalleVentas]  WITH CHECK ADD CHECK  (([Cantidad]>(0)))
GO
ALTER TABLE [dbo].[DetalleVentas]  WITH CHECK ADD CHECK  (([PrecioUnitario]>=(0)))
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD CHECK  (([Precio]>=(0)))
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD CHECK  (([Stock]>=(0)))
GO
/****** Object:  StoredProcedure [dbo].[sp_RegistrarVenta]    Script Date: 04/12/2025 14:07:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_RegistrarVenta]
    @ClienteId INT,
    @Detalles dbo.DetalleVentaType READONLY,
    @NewVentaId INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        IF NOT EXISTS (SELECT 1 FROM dbo.Clientes WHERE Id = @ClienteId)
        BEGIN
            THROW 51000, 'Cliente no existe', 1;
        END

        IF EXISTS (
            SELECT 1
            FROM @Detalles d
            LEFT JOIN dbo.Productos p WITH (NOLOCK) ON p.Id = d.ProductoId
            WHERE p.Id IS NULL OR p.Stock < d.Cantidad
        )
        BEGIN
            DECLARE @msg NVARCHAR(200) = '';

            IF EXISTS (
                SELECT 1
                FROM @Detalles d
                LEFT JOIN dbo.Productos p WITH (NOLOCK) ON p.Id = d.ProductoId
                WHERE p.Id IS NULL
            )
                SET @msg += 'Alguno de los productos no existe. ';

            IF EXISTS (
                SELECT 1
                FROM @Detalles d
                LEFT JOIN dbo.Productos p WITH (NOLOCK) ON p.Id = d.ProductoId
                WHERE p.Stock < d.Cantidad
            )
                SET @msg += 'Stock insuficiente para uno o más productos.';

            THROW 51001, @msg, 1;
        END

        INSERT INTO dbo.Ventas (Fecha, ClienteId)
        VALUES (SYSUTCDATETIME(), @ClienteId);

        SET @NewVentaId = CONVERT(INT, SCOPE_IDENTITY());

        INSERT INTO dbo.DetalleVentas (VentaId, ProductoId, Cantidad, PrecioUnitario)
        SELECT @NewVentaId, d.ProductoId, d.Cantidad, p.Precio
        FROM @Detalles d
        INNER JOIN dbo.Productos p WITH (NOLOCK) ON p.Id = d.ProductoId;

        UPDATE p
        SET p.Stock = p.Stock - d.Cantidad
        FROM dbo.Productos p WITH (ROWLOCK, UPDLOCK)
        INNER JOIN @Detalles d ON p.Id = d.ProductoId;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF XACT_STATE() <> 0
            ROLLBACK TRANSACTION;

        DECLARE @ErrMsg NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrNum INT = ERROR_NUMBER();
        THROW @ErrNum, @ErrMsg, 1;
    END CATCH
END
GO
